<?xml version="1.0" encoding="utf-8"?>
<AppSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <LastUpdateCheck>0</LastUpdateCheck>
    <Volume>100</Volume>
    <RecentFiles />
    <WindowLocation>
        <X>0</X>
        <Y>0</Y>
    </WindowLocation>
    <WindowPosition>
        <X>952</X>
        <Y>501</Y>
    </WindowPosition>
    <WindowSize>
        <Width>924</Width>
        <Height>520</Height>
    </WindowSize>
    <ConfigEditorSearch>General:</ConfigEditorSearch>
    <Mute>no</Mute>
    <UpdateCheckVersion />
</AppSettings>